.solution-section {
  padding: 6rem 0;
  text-align: center;
  margin: 20 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 80vh;
  max-width: 1200px;
}

.solution-container {
  
  margin: 20 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tag */
.solution-tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #111;
  border-radius: 999px;
  padding: 0.25rem 1rem;
  margin-bottom: 1.5rem;
}

.solution-year {
  background-color: #39ff14;
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
}

.solution-tag-text {
  color: #fff;
  font-size: 16px;
}

/* Headline */
.solution-heading {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: #fff;
  text-align: center;
}

.solution-heading span {
  background: linear-gradient(90deg, #ccc 0%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Subtext */
.solution-subtext {
  font-size: 1.3rem;
  color: #ccc;
  margin-bottom: 2rem;
  text-align: center;
}

/* Buttons */
.solution-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.solution-btn {
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s ease;
}

.solution-btn.primary {
  background-color: #39ff14;
  color: #000;
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 14px;
  backdrop-filter: none;
  box-shadow: 0 5px 15px #39ff14;
}

.solution-btn.secondary {
  background-color: #222;
  color: #fff;
  border: none;
  font-size: 14px;
}

.solution-btn:hover {
  opacity: 0.9;
}

/* Responsive */
@media (max-width: 768px) {
  .solution-container {
    padding: 20px;
    text-align: center;
  }

  .solution-heading {
    font-size: 2.25rem;
  }

  .solution-subtext {
    font-size: 0.95rem;
  }

  .solution-btn.primary,
  .solution-btn.secondary {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .solution-heading {
    font-size: 1.75rem;
  }

  .solution-subtext {
    font-size: 0.9rem;
  }

  .solution-buttons {
    width: 60%;
    flex-wrap: nowrap;
  }

  .solution-btn {
    width: 100%;
    text-align: center;
  }

  .solution-break {
    display: none;
  }
}
