.solution-section {
  padding: 6rem 0rem;
  text-align: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* background-image: url('/images/solutionbg.png'); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
  height:100vh;
  
 
}

.solution-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-heading{
    color: #FFFFFF;
}

.solution-heading span {
  background: linear-gradient(90deg, #cccccc 0%, #999999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solution-tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #111;
  border-radius: 999px;
  padding: 0.25rem 1rem;
  margin-bottom: 1.5rem;
}

.solution-year {
  background-color: #39ff14;
  color: black;
  font-size: 0.75rem;
  /* font-weight: 600; */
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
}

.solution-tag-text {
  color: #aaa;
  font-size: 0.85rem;
}

.solution-heading {
  font-size: 4.2rem;
  
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.solution-subtext {
  font-size: 1.3rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.solution-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.solution-btn {
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s ease;
}

.solution-btn.primary {
  background-color: #39ff14;
  color: #000;
  border: none;
   border-color: rgba(255, 255, 255, 0.15);
 font-size: 14px;
  border-style: solid;
   backdrop-filter: none;
     box-shadow: 0 5px 15px #39ff14;
}

.solution-btn.secondary {
  background-color: #222;
  color: #fff;
  border: none;
  font-size: 14px;
}

.solution-btn:hover {
  opacity: 0.9;
}

/* Responsive */
@media (max-width: 768px) {
  .solution-heading {
    font-size: 2.25rem;
  }

  .solution-subtext {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .solution-heading {
    font-size: 1.75rem;
  }

  .solution-buttons {
    flex-direction: column;
    width: 100%;
  }

  .solution-btn {
    width: 100%;
    text-align: center;
  }

  .solution-subtext {
    font-size: 0.9rem;
  }

  .solution-break {
    display: none;
  }
}
