.new{
    margin:auto
}
.left_side{
    padding:20px;
}
/* .tabs{
    margin-top:30px;
} */
.left{
    padding:20px
}
/* .testimo{
    padding:10px 0px 
} */

.testimo{
    padding: 20px;
}

.mbb{
    margin-bottom: 30px;
}

.testimo{
    margin-bottom: 60px;
}