.portfolio{
    background-color: black;
    
    min-height: 100vh;
    padding-top: 8px;
}
*{
    background-color: black;

}

.portfolio__stack-wrapper {
  text-align: center;
}

.portfolio__join-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
