.new{
    background:"black";
    margin:auto;
}

.fontt{
    font-size: 60px;
    /* line-height: 15px; */
}
.marginn{
    margin-bottom: 0;
}


.grid.grid-cols-1.sm\:grid-cols-2.md\:grid-cols-3.gap-8.mt-\[40px\]{
 margin-top:40px;
}
.buttons{
    padding:8px 10px;
}
.cards{
    padding:20px;
    background:#1a1a1a;
    height:500px
}
.card_inner{
    padding: 0px 0px 20px;
   

}
.second{
    margin-top:50px
}
.filter_css{
    padding:5px 20px;
    margin:20px 0px
}
.right{
    height:380px
}

.padding{
    padding: 20px;
}