.join {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 3rem;
  max-width: 1200px;
  margin: 100px auto 0;
}

.join__content {
  flex: 1;
  max-width: 1200px;
  /* margin: 0 auto; */
}

.join__tag {
  background-color: #111;
  color: #fff;
  padding: 6px 14px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  overflow: hidden;
}

.join__tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 2px;
  background: linear-gradient(to right, transparent, #39ff14, transparent);
  filter: drop-shadow(0 0 6px #39ff14);
  z-index: 2;
  pointer-events: none;
}

.join__headline {
  font-size: 3.5rem;
  line-height: 1.2;
  margin: 1.5rem 0;
  font-weight: 500;
  color: #fff;
}

.join__headline span {
  background: linear-gradient(90deg, #ccc 0%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.join__description {
  color: #aaa;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 2rem;
  text-align: center;
}

.join__actions {
  text-align: center;
}

.join__button {
  padding: 0.75rem 1.5rem;
  background: #39ff14;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 5px 15px #39ff14;
  transition: transform 0.3s ease;
  backdrop-filter: none;
}

/* Responsive Design */
@media (max-width: 992px) {
  .join {
    flex-direction: column;
    text-align: center;
  }

  .join__content {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .join {
    padding: 3rem 1.5rem;
    gap: 3rem;
  }

  .join__headline {
    font-size: 1.8rem;
    text-align: center;
  }

  .join__description {
    font-size: 0.95rem;
  }

  .join__tag {
    display: inline-block;
    margin-bottom: 10px;
  }

  .join__content {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .join__headline {
    font-size: 1.5rem;
  }

  .join__description {
    font-size: 0.9rem;
  }

  .join__button {
    text-align: center;
  }
}
