/* Import font */
/* @import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Poppins:wght@400;600&display=swap'); */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}

/* Navbar container styles */
.navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: transparent;
  color: white;
  position: relative;
  /* z-index: 100; */
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.navbar__logo img {
  width: 200px;
  height: fit-content;
  object-fit: fill;
}

.navbar__menu {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-left: 40px;
}

.navbar__menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-weight: 400;
  transition: color 0.3s;
  size: 16px;
}

.navbar__menu li a:hover {
  color: #ccc;
}

.navbar__button {
  background-color: #39ff14;
  color: black;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;

  border-color: rgba(255, 255, 255, 0.15);
  font-size: 14px;
  border-style: solid;
  backdrop-filter: none;
  box-shadow: 0 5px 15px #39ff14;
}

.navbar__hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .navbar > a {
    display: none;
  }
  .navbar {
    width: 100%;
    height: 100px;
    padding: 0 1rem;
  }

  .navbar__hamburger {
    display: block;
  }

  .navbar__menu {
    display: none;
    position: absolute;
    top: 72px;
    right: 0;
    background: black;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 99;
    align-items: center;
    text-align: center;
  }

  .navbar__menu--active {
    display: flex;
    background-color: white;
    z-index: 100;
  }
  .navbar__menu li a{
    color: black;
  }
  .navbar__button {
    display: none;
  }
}
